@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {
    --text-color: black;
    --bg-main: white;
    --bg-header: #f4f4f4;
    --td-odd: white;
    --td-even: #ddd;
    --td-hover: #f4f4f4;

}

html {
    /* font-family: Arial, sans-serif; */
    font-size: .75rem;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

button, input {
    font-family: "Noto Sans Mono", monospace;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* Ensures borders are collapsed */
    margin: 20px 0;
}

th {
    background-color: #f2f2f2;
    color: #333;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#item-data-table tr td:last-child {
    max-width: 150px;
}


/* #parsed-text td {
    padding: 0;
}

td input {
    border: none;
    background: none;
    padding: 10px;
} */

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.order-data {
    display: flex;
    justify-content: space-evenly;
}

#po-data {
    width: 45%;
}

#shipping-info {
    width: 100%;
    max-width: 450px;
}

#po-upload {
    background: #eeeeee;
    padding: 2rem;
    border-radius: 5px;
    border: #bbb dashed 2px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.25rem;
    margin: auto;
}

#po-upload:hover {
    box-shadow: #333 0px 0px 5px;
}

#po-upload::file-selector-button {
    font-family: "Noto Sans Mono", monospace;
    padding: 1rem;
    background: lightcoral;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.5rem;
}

#po-upload::file-selector-button:hover {
    opacity: .7;
    border: none;
}

.upload-area {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

body {
    max-width: 1000px;
    margin: auto;
}

.table-image img {
    height: 100px;
    width: auto;
}

#image-selector {
    display: none;
}

.hidden {
    display: none;
}


/* #change-text-modal #change-text-outer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222222dd;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

#change-text-inner {
    background: #ddd;
    padding: 2rem;
    border-radius: 5px;
}

#change-text-input {
    padding: 10px;
    font-size: 1.25rem;
}

#change-text-button {
    font-size: 1.25rem;
    padding: 10px 25px;
} */
/* 
open = white
pending = white
approved = SOMETHING
in-production = SOMETHING
shipped = SOMETHING
invoiced = SOMETHING
complete = GONE */



tr.rush {
    background: #f2bdbd;
    font-weight: bold;
}

tr.shipped {
    background: #c1f2bd;
}

tr.invoiced {
    background: #eac7ff;
}

tr.approved {
    background: #faefb4;
}

#orderList {
    font-size: 1.25rem;
    list-style-type: none;
    margin: auto;
}

#orderList td a {
    padding: .25rem;
    display: block;
    font-weight: bold;
}

header nav {
    border: 2px #aaa solid;
    margin-bottom: .5rem;
    border-radius: 5px;
}

header .tool-bar {
    border: 2px #aaa solid;
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    justify-content: center;

}

header .tool-bar button {
    padding: 1rem;
    min-width: 150px;
    font-size: 1.25rem;
    border: 2px #aaa solid;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

header .tool-bar button:hover {
    background: #ddd
}

header .tool-bar label {
    min-width: 150px;
    font-size: 1.25rem;
    font-weight: bold;
}

header .tool-bar select {
    padding: 1rem;
    min-width: 150px;
    font-size: 1.25rem;
    border: 2px #aaa solid;
    border-radius: 5px;
}

header nav ul {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;

}

header nav ul li {
    padding: .5rem;
}

header nav ul a {
    text-decoration: none;
}

header nav ul a:hover {
    text-decoration: underline;
}

#po-header {
    font-size: 2rem;
    text-align: center;
    background: #f4f4f4;
}

#po-total {
    font-size: 1.25rem;
}

.rush-settings {
padding: 1rem;
}

#packing-list #po-data {
display: none;
}

#packing-list #additional-instructions {
    display: none;
}

#packing-list #tracking-info {
    display: none;
}

#packing-list .order-data {
    display: block;
}

#packing-list #shipping-info {
    width: 100%;
}

#packing-list .packing-list-header {
    text-align: center;
}

#packing-list .packing-list-header img {
    height: 100px;
    width: auto;
}

#packing-list #item-data-table tr td:nth-child(5),
#packing-list #item-data-table tr th:nth-child(5),
#packing-list #item-data-table tr td:nth-child(6),
#packing-list #item-data-table tr th:nth-child(6) {
    display: none;
}

#packing-list #client-order-id {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    box-sizing: border-box;
    padding: .5rem;
    font-weight: bold;
    border: none;
    background-color: #eee;
}

#packing-list #po-total {
    display: none;
}

#packing-list #po-header {
    display: none;
}

#packing-list #vertical-id {
    display: none;
}

#vertical-id {
    display: none;
    rotate: 90deg;
    font-size: 4rem;
    height: fit-content;
}

.status-changer-container {
    margin: auto;
}

.status-changer-container button {
  display: block;
  background: lightskyblue;
  border: none;
  font-size: 2rem;
  padding: 1rem;
  margin: .75rem auto;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  font-weight: bold;
}

.current-status-label {
    text-align: center;
    margin-bottom: 0;
}

#order-status-display {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 2rem auto;
    padding: 1rem 3rem;
    background-color: #eee;
    font-weight: bold;
    border-radius: 10px;
    width:fit-content;
}

#sign-in-credentials {
    max-width: 500px;
    margin: auto;
    font-size: 1.5rem;
}

#order-list-link button, #sign-in-credentials button {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: 5px;
}

#sign-in-credentials input {
    font-size: 1.5rem;
}

#sign-in-credentials label {
    display: block;
}

#order-list-link a {
    font-size: 1.5rem;
}


@media print {
    header {
        display: none;
    }
    #po-upload {
        display: none;
    }
    #csv-link {
        display: none;
    }
    .instructions {
        display: none;
    }
    th, td {
        padding: 0px;
    }

    #vertical-id {
        display: block;
    }
    #po-header {
background: none;
    }
}